@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.tool_img {
  margin: 2%;
  cursor: pointer;
}

.main_layout {
  height: 100%;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.about_me {
  color: black;
}
.card {
  position: relative;

  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;

  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
  margin-right: 4%;
}
.card:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

/* .card {
  font-size: 1.6rem;
  display: block;
  place-items: center;
  min-height: 200px;
  border: 8px solid;

  padding: 1rem;
} */

/* .radial-repeating {
  border-width: 10px;
  border-image: repeating-radial-gradient(
      circle at 10px,
      turquoise,
      rgba(14, 115, 209, 0.548) 2px,
      rgba(184, 109, 228, 0.712) 4px,
      rgba(228, 111, 130, 0.835) 2px
    )
    1;
} */

.profile_image {
  width: 30vw;
  height: 30vw;
  margin-top: 15%;
  margin-left: 15%;
}

.network_icons {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.network_icons > a {
  margin: 1%;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 1700px) {
  .profile_image {
    width: 20vw;
    height: 20vw;
    margin-top: 15%;
    margin-left: 20%;
  }
}

@media (max-width: 912px) {
  .profile_image {
    width: 30vw;
    height: 30vw;
    margin-top: 15%;
    margin-left: 35%;
  }
}
@media (max-width: 540px) {
  .profile_image {
    width: 50vw;
    height: 50vw;
    margin-top: 5%;
    margin-left: 0%;
  }

  .main_layout {
    text-align: center;
  }
}
